body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  /*
  font-size: 100% == 16px == 5em 5 rem
  font-size: 80px == 80/16 == 5.00em/rem == 500.0%
  1
  */
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

a {
  color: #11999E;
}

a:hover {
  color: #EAF6F6
}

p {
  color: #40514E;
}

hr {
  border-color: #BFCECE;
  border-style: dotted;
  border-width: 5px 0 0;
  margin: 50px auto;
  width: 5%;
}

.bottom-container {
  padding: 40px 0 15px;
  background-color: #66BFBF;
  line-height: 2;
  margin-top: 70px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.pro {
  text-decoration: underline;
}

.profile-img {
  width: 15%;
  margin-top: 30px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.game-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0;
  text-align: left;
  line-height: 3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.contact-me {
  line-height: 2;
}

.foot {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.footer-link {
  text-decoration: none;
  padding: 0 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
